<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h2>User Data</h2>
    <p>{{ data }}</p>

    <br>
    <h2>Live Sensor Data</h2>
    <iframe src="http://10.247.27.109:3000/d-solo/iAa_zZRgz/hippie-brew-co-ph?orgId=1&refresh=5s&theme=light&panelId=2" width="450" height="200" frameborder="0">
    </iframe>

    <iframe src="http://10.247.27.109:3000/d-solo/iAa_zZRgz/hippie-brew-co-ph?orgId=1&refresh=5s&theme=light&panelId=4" width="450" height="200" frameborder="0">
    </iframe>

</body>
</html>
